.navbarHead {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.navbarHide {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbarShow {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.navLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  padding: 0.5rem 1rem;
}

.navLink:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navLink:global(.active) {
  font-weight: bold;
  font-size: larger;
  text-decoration: underline !important;
  color: #090909 !important;
}